@page
@model Actualizacion.Pages.AlbumsModel

@{
    ViewData["Title"] = "Albums";
}

<h1>Albums</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Album.Id" />
            <div class="form-group">
                <label asp-for="Album.Nombre" class="control-label"></label>
                <input asp-for="Album.Nombre" class="form-control" />
                <span asp-validation-for="Album.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Artista" class="control-label"></label>
                <input asp-for="Album.Artista" class="form-control" />
                <span asp-validation-for="Album.Artista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Precio" class="control-label"></label>
                <input asp-for="Album.Precio" class="form-control" />
                <span asp-validation-for="Album.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Existencia" class="control-label"></label>
                <input asp-for="Album.Existencia" class="form-control" />
                <span asp-validation-for="Album.Existencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
